[submodule "operator"]
	path = operator
	url = git@github.com:zerok-ai/operator.git
[submodule "zpx"]
	path = zpx
	url = git@github.com:zerok-ai/zpx.git
[submodule "zk-api-server"]
	path = zk-api-server
	url = git@github.com:zerok-ai/zk-api-server.git