[submodule "operator"]
	path = operator
	url = git@github.com:zerok-ai/operator.git
[submodule "zpx"]
	path = zpx
	url = git@github.com:zerok-ai/zpx.git
[submodule "zk-client"]
	path = zk-client
	url = git@github.com:zerok-ai/zk-client.git
[submodule "zk-wsp"]
	path = zk-wsp
	url = git@github.com:zerok-ai/zk-wsp.git
